page-invite {
    #refresh{
        margin-top: -15px;
    }

    #refreshCol {
        padding: 0px;
    }

    #refreshText {
        color: color($colors, light);
    }

    #refreshIcon {
         color: color($colors, light);
    }
}
